{%extends 'base.html'%}

{%block title%}
  {{block.super}} | {{title_head}}
{%endblock%}

{%block list_news%}
  <h2 class="text-center mb-5">Список предложенных новостей</h2>
  <div class="container">
    <div class="row">
      {%for item in news_offer%}
        <div class="card col-md-3">
          <div class="card-header">
            <a href="{{item.category.get_absolute_url}}">
              Категория: {{item.category}}
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title fs-3 text-primary">{{item.title}}</h5>
            <p class="card-text fs-6">{{item.description}}</p>
          </div>
          <div class="card-footer text-muted fst-italic">
            Опубликовано: {{item.created_at|date:"Y-m-d H:i"}}
            <p>Автор: {{item.owner}}</p>
          </div>
          <a href="{%url 'update_post' item.pk%}" class="btn btn-warning mt-1">Изменить</a>
          <a href="{%url 'delete_post' item.pk%}" class="btn btn-danger mt-1 mb-1">Удалить</a>
        </div>
      {%endfor%}
    </div>
  </div>
{%endblock%}